$white-color: #fff;

$heading-font: "Rubik", sans-serif;
$primary-font: "Rubik", sans-serif;

$container-width: 117rem;
$container-inner-width: 103.6rem;

$primary-color: #215398;
$white-color: #fff;
$font-color: #2d3236;
$gray-color: #808080;
$magenta-color: #ff3859;
$light-blue: #f1f6fc;
